@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

hr{
    width: 1280px;
}
html,body{
    font-family: Roboto;
}
h1{
    font-size: 20px;
    font-weight: 400;
}
h4{
    font-weight: 400;
    color: #747474;
}

.youtube-logo{
    color: #ff0000;
}

header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 59px;
    font-size: 20px;
    
}

header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

input[type=search] {
    height: 33px;
    width: 500px;
}
#search-submit{
    height: 33px;
    width: 70px;
}

.content {
    display: flex;
    margin-top: 24px;
    margin-left: 170px;
    flex-direction: column;
    width: 1290px;
    justify-content: flex-start;
    float: left;
    
}

#video-section{
 width: 1300px;
}

.video-title{
    margin-top: 10px;
}
.description{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description ul {
    display: flex;
    list-style-type: none;
}

  
.description-likes{
    padding-left: 800px;
}

.description-likes li{
    padding-left: 20px;
}
.description-likes i{
    padding-right: 5px;
    color: #BFBDBD;
}

.user-pic{
    border-radius: 50%;
    order: 1;

}

/* Fix margin left, h3 clips through user profile pic */
.user-name{
    margin-top: 20px;
    margin-left: 55px; 
}

.user-name h2{
    font-weight: 400;
    font-size: 15px;
}
.user-pic-div{
    margin-top: 10px;
    float: left;
}

.upload-date{
    margin-top: 1px;
    margin-left: 6px;
    width: auto;
    font-weight: 100;
    float: left;
}

.upload-date h3{
    padding: 0px;
    margin-top:1px;
    font-size: 13px;
    font-weight: 100;
    color:#898484;
}

.sub-btn{
   margin-left: 1110px;
   
}

.sub-btn button{
    height: 40px;
    width: 120px;
    background-color: #ff0000;
    border-radius: 20%;
}

.video-description{
    width:600px;
    padding-left: 51px;
    margin-top:10px;
    margin-bottom: 20px;
}

.comment-stats{
    margin-top: 10px;
    
}
.comment-stats h3{
    font-weight: 400;
    float: left;
    margin-right: 20px;
}

.comment-stats p{
    margin-top: 3px;
    padding-top: 2px;
    margin-left: 5px;
}

.comment-add {
margin-top: 30px;
margin-bottom: 30px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .side-bar{
      width: 500px;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 10px;  
  }

  #up-next-id{
      width: auto;
      height: 0px;
  }
  .autoplay{
      float: left;
      padding-left: 320px;
      display: flex;
      padding-top: 4px;
      margin-bottom: 20px;
      padding-right:9px;
  }
  .side-bar-title{
      padding-left: 5px;
      padding-bottom: 5px;
  }

  .side-bar-user{
    color: gray;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 140px;
  }

  .side-bar-views{
      margin-right: 150px;
      padding-left: 5px;
      color: gray;
      width: 82.28px;
      
  }

  .videos{
      margin-bottom: 20px;
  }

  .videos-ul{
    list-style-type: none;
  }

  .videos li{
      float: left;
      justify-content: space-evenly;
  }

  .video-thumbnail{
      height: 94px;
      width: 168px;
  }